<form action="/characters" method="POST">
    Name: <input type="text" name="name"/><br/>
    Birthday: <input type="text" name="birthday"/><br/>
    Image: <input type="text" name="img"/><br/>
    Occupation: <input type="text" name="occupation"/><br/>
    Status: <input type="text" name="status"/><br/>
    Actor: <input type="text" name="actor"/><br/>
    Nickname: <input type="text" name="nickname"/><br/>
  <input type="submit" value="Add your OC"/>
</form>
