<!DOCTYPE HTML>
<html>
<head>
  <title>Breaking Buds</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <nav>
    <a href="/characters">View All Characters</a> |
    <a href="/characters/new">Create a Character!</a>
  </nav>
  <div class="main">
    <h1>Welcome to Breaking Buds!</h1>
    <%= yield %>
  </div>
</body>
</html>
